@tailwind base;
@tailwind components;

@tailwind utilities;

/** base **/
:root {
  --root-height: 100vh;
  --accent-orange: #e64a19;
}

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

#__next {
  width: 100vw;
  height: var(--root-height);
  display: flex;
}
